* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2vh;
}

body div {
    display: flex;
    gap: 15px;
}

button {
    padding: 10px 20px;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}